<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>Welcome</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

	
	<ion-img width="250" height="250" align-items="center" src="assets/imgs/newLogo[1502].png"></ion-img>
	
	<ion-item>
    <ion-label color="light" floating>PhoneNo</ion-label>
    <ion-input min="1000000000" type="number" [value]="phn" [(ngModel)]="phn"></ion-input>
  </ion-item>

  
  <br><br>

<button ion-button block (click)="doLogin()" color="cor2">Get OTP</button>

</ion-content>
