<!--
  Generated template for the GoalsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  			<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>


    <ion-title>iCOACH</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-img width="290" height="290" align-items="center" src="assets/imgs/heal.jpg"></ion-img>
	
<!--  <ion-list>

  <ion-item>
    <ion-label>Run 5 kms</ion-label>
    <ion-checkbox [(ngModel)]="run" (ngModelChange)='good()'></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>medditate 30 mins</ion-label>
    <ion-checkbox [(ngModel)]="yoga" ></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Eat below 2500 calories</ion-label>
    <ion-checkbox [(ngModel)]="food"></ion-checkbox>
  </ion-item>

 <ion-item>
    <ion-label>Drink 3 litres of water</ion-label>
    <ion-checkbox [(ngModel)]="water"></ion-checkbox>
  </ion-item>



</ion-list>
 

<main>
  <header>
    <span></span>
    <h3></h3>
    <div class="task-indicators">
    </div>
  </header>

  <section class="task-list current">
    <h2>Daily Goals</h2>
    <ul>
      <li>
        <div class="checkbox">
          <div class="check">
            <input type="checkbox" name="task_00">
            <div class="ripple-container">
              <div class="check-off"></div>
              <div class="check-on"><i class="fa fa-check"></i></div>
              <div class="check-ripple"></div>
            </div>
          </div>
          <div class="label">
            <mark>Run 5 kms</mark>
            <br>
            <time datetime="05-12-2016">12 March 2016 - h 9:30 am</time>
          </div>
        </div>
        <span class="task-msg">Well done!</span>
      </li>
      <li>
        <div class="checkbox">
          <div class="check">
            <input type="checkbox" name="task_00">
            <div class="ripple-container">
              <div class="check-off"></div>
              <div class="check-on"><i class="fa fa-check"></i></div>
              <div class="check-ripple"></div>
            </div>
          </div>
          <div class="label">
            <mark>Drink 5l of water</mark>
            <br>
            <time datetime="05-12-2016">12 March 2016 - h 9:30 am</time>
          </div>
        </div>
        <span class="task-msg">Well done!</span>
      </li>
      <li>
        <div class="checkbox">
          <div class="check">
            <input type="checkbox" name="task_01">
            <div class="ripple-container">
              <div class="check-off"></div>
              <div class="check-on"><i class="fa fa-check"></i></div>
              <div class="check-ripple"></div>
            </div>
          </div>
          <div class="label">
            <mark>Excercise daily</mark>
            <br>
            <time datetime="05-12-2016">12 March 2016</time>
          </div>
        </div>
        <span class="task-msg">Well done!</span>
      </li>
      <li>
        <div class="checkbox">
          <div class="check">
            <input type="checkbox" name="task_02">
            <div class="ripple-container">
              <div class="check-off"></div>
              <div class="check-on"><i class="fa fa-check"></i></div>
              <div class="check-ripple"></div>
            </div>
          </div>
          <div class="label">
            <mark>Meditate</mark>
            <br>
            <time datetime="05-12-2016">12 March 2016</time>
          </div>
        </div>
        <span class="task-msg">Well done!</span>
      </li>
    </ul>
  </section>

  <section class="task-list notcurrent">
    <h3>Do it later</h3>
    <ul>
      <li>
        <div class="checkbox">
          <div class="check">
            <input type="checkbox" name="task_03">
            <div class="ripple-container">
              <div class="check-off"></div>
              <div class="check-on"><i class="fa fa-check"></i></div>
              <div class="check-ripple"></div>
            </div>
          </div>
          <div class="label">
            <mark>Doctor checkup</mark>
            <br>
            <time datetime="05-12-2016">12 March 2016</time>
          </div>
        </div>
        <span class="task-msg">Well done!</span>
      </li>
      <li>
        <div class="checkbox">
          <div class="check">
            <input type="checkbox" name="task_03">
            <div class="ripple-container">
              <div class="check-off"></div>
              <div class="check-on"><i class="fa fa-check"></i></div>
              <div class="check-ripple"></div>
            </div>
          </div>
          <div class="label">
            <mark>create awarness</mark>
            <br>
            <time datetime="05-12-2016">12 March 2016</time>
          </div>
        </div>
        <span class="task-msg">Well done!</span>
      </li>
      <li>
        <div class="checkbox">
          <div class="check">
            <input type="checkbox" name="task_04">
            <div class="ripple-container">
              <div class="check-off"></div>
              <div class="check-on"><i class="fa fa-check"></i></div>
              <div class="check-ripple"></div>
            </div>
          </div>
          <div class="label">
            <mark>Renew license</mark>
            <br>
            <time datetime="05-12-2016">12 March 2016</time>
          </div>
        </div>
        <span class="task-msg">Well done!</span>
      </li>
    </ul>
  </section>
</main> -->

</ion-content>
