<ion-header>

    <ion-navbar color="primary">
      <ion-title text-center>Welcome</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
  
      
      <ion-img width="290" height="290" align-items="center" src="assets/imgs/newLogo[1502].png"></ion-img>
      
      <ion-item>
      <ion-label color="light" floating>Enter OTP</ion-label>
      <ion-input min="1000000000" type="number" [value]="phn" [(ngModel)]="phn"></ion-input>
    </ion-item>
  
    
    <br><br>
  
  <button ion-button block (click)="doLogin()" color="cor2">Submit OTP</button>
  
  </ion-content>