<!--
  Generated template for the Tab1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
		<button ion-button menuToggle >
			<ion-icon name="menu"></ion-icon>
		</button>


    <ion-title>iCOACH</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h1><p align="center">Dashboard</p>
  </h1>
  <ion-card>
  <ion-card-content>
      <ion-img width="290" height="290" align-items="center" src="assets/imgs/congratulations.png"></ion-img>
	
    <ion-card-title>
     <h1> Congratulations!</h1>
      </ion-card-title>
    <p> You have taken the right step! We will help you know your health and keep it improving for a healthy future.
          </p>
  </ion-card-content>
</ion-card>
<!--
<ion-card>
  <ion-card-content>
    <ion-card-title>
      <p>AEGON LIFE INSURANCE 2 </p>
      </ion-card-title>
    <p>
      Policy issued to tackle over Hyper Tension.</p><p>
      Premium to be paid per year is rs.15000
    </p>
  </ion-card-content>
</ion-card>
-->

<button ion-button block (click)="doLogin()" color="cor2">Get Started</button>
</ion-content>

<style>

  p {
    color:black;
  }

</style>