<!--
  Generated template for the Tab2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">

		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
	

    <ion-title>iCOACH</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1><p align="center">Diet</p></h1>
  <ion-card>
  <ion-card-content>
    <ion-card-title>
      <p><b>Morning:</b></p> 
      </ion-card-title>
      <ion-item>
          <ion-label>Almond</ion-label>
          <ion-checkbox [(ngModel)]="Almond"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Green Tea</ion-label>
            <ion-checkbox [(ngModel)]="Green"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>I Cheated</ion-label>
              <ion-checkbox [(ngModel)]="Cheat1"></ion-checkbox>
            </ion-item>
   
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-card-title>
      <p><b>Breakfast:</b></p>
      </ion-card-title>
      <ion-item>
          <ion-label>Upma(1 Bowl)</ion-label>
          <ion-checkbox [(ngModel)]="Upma"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Oats(1bowl)</ion-label>
            <ion-checkbox [(ngModel)]="Oat"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>I Cheated</ion-label>
              <ion-checkbox [(ngModel)]="Cheat2"></ion-checkbox>
            </ion-item>
   
   
  </ion-card-content>
</ion-card>

 <ion-card>
  <ion-card-content>
    <ion-card-title>
      <p><b>Lunch:</b></p>
      </ion-card-title>
      <ion-item>
          <ion-label>Daal Bowl</ion-label>
          <ion-checkbox [(ngModel)]="meal1"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Ragi Khichdi</ion-label>
            <ion-checkbox [(ngModel)]="ragi"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label> Butter Milk (1 Glass)</ion-label>
              <ion-checkbox [(ngModel)]="But"></ion-checkbox>
            </ion-item>
          <ion-item>
              <ion-label>I Cheated</ion-label>
              <ion-checkbox [(ngModel)]="Cheat3"></ion-checkbox>
            </ion-item>
  
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-card-title> <p><b>Dinner:</b></p>
      </ion-card-title>
    
    <ion-item>
        <ion-label>Salad</ion-label>
        <ion-checkbox [(ngModel)]="Salad"></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-label>Soup</ion-label>
          <ion-checkbox [(ngModel)]="Soup"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Chapati</ion-label>
            <ion-checkbox [(ngModel)]="Chapati"></ion-checkbox>
          </ion-item>
        <ion-item>
            <ion-label>I Cheated</ion-label>
            <ion-checkbox [(ngModel)]="Cheat4"></ion-checkbox>
          </ion-item>
 
  </ion-card-content>
</ion-card>
</ion-content>

<style>
  p {
    color:black;
  }
</style>