
<ion-header>

  <ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>


    <ion-title>iCOACH</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- 
	<h1>hello</h1>

	<div class="container">
      <ul>
        <li><span>1</span>
          <div>	&nbsp;&nbsp;&nbsp;&nbsp;This is the latest news</div>
        </li>
        <li><span>2</span>
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is the second latest news</div>
        </li>
        <li><span>3</span>
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is the third latest news</div>
        </li>
        <li><span>4</span>
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is the third latest news</div>
        </li>
        <li><span>5</span>
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is the third latest news</div>
        </li>
        <li><span>6</span>
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is the third latest news</div>
        </li>
      </ul>
    </div>

 -->

<ol class="list-timeline">
        <li>
		   <ion-card>

		  	<ion-card-header>
		    <p>	05/08/18 - Test 1</p>
		    </ion-card-header>

		    <ion-card-content >
		     Result: Negative(Should Improve)
		    </ion-card-content>

			</ion-card>
        </li>
        <li>
          <ion-card >

		  	<ion-card-header>
		    	<p>25/08/18 - Test 2</p>
		    </ion-card-header>

		    <ion-card-content>
		     Result: Positive(Good Symptoms Improve More)
		    </ion-card-content>

			</ion-card>
        </li>
        <li>
          <ion-card>

		  	<ion-card-header>
		    	<p>05/09/18</p>
		    </ion-card-header>

		    <ion-card-content>
		     Result: Negative(Should Improve)
		    </ion-card-content>

			</ion-card>
        </li>
        <li>
          <ion-card>

		  	<ion-card-header>
		    	<p>25/09/18</p>
		    </ion-card-header>

		    <ion-card-content>
		     Result: Positive(Good Symptoms Improve More)
		    </ion-card-content>

			</ion-card>
        </li>
        <li>
        	<ion-card>

		  	<ion-card-header>
		    	<p>05/10/18</p>
		    </ion-card-header>

		    <ion-card-content>
		     Result : Positive(keep improving)
		    </ion-card-content>

			</ion-card>
        </li>
    	<li>
    		<ion-card>

		  	<ion-card-header>
		    	<p>25/10/18</p>
		    </ion-card-header>

		    <ion-card-content>
		     Result: Positive(Your Health Has been improved)
		    </ion-card-content>

			</ion-card>
    	</li>
      </ol>

</ion-content>


<style>

	p {
		color:white;
	}

</style>