body {
  background-color: #f0f0f0;
  font-family: arial, sans-serif;
}
.app-bg {
  width: 375px;
  height: 667px;
  background-color: #fff;
}
.app-header {
  height: 240px;
  background-color: #FFCA28;
  position: relative;
  font-size: 12px;
  font-family: arial, sans-serif;
  margin: 0 auto;
}
#service {
  padding-left: 0px;
}
#service li {
  display: inline-block;
  width: 5.5px;
  height: 5.5px;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 100%;
}
.not-active {
  background-color: transparent !important;
}
#service-info {
  padding-top: 5px;
  padding-left: 10px;
}
#service-info li {
  display: inline-block;
}
.att {
  padding-right: 5px;
}
.wifi {
  padding-right: 55px;
}
.time {
  padding-right: 90px;
}
.percentage {
  padding-right: 5px;
}
.sneakers-icon {
  margin: 22px auto;
  background-color: #fff;
  width: 76px;
  height: 76px;
  text-align: center;
  line-height: 96px;
  border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.stats {
  text-align: center;
  line-height: 15px;
}
.stats h1 {
  font-weight: 100;
}
.stats h4 {
  font-weight: 100;
  line-height: 0px;
}
.step-history-header {
  position: relative;
  margin: 0 auto;
  height: 55px;
  padding: 0px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  line-height: 55px;
}
.step-history-header h2 {
  margin-top: 0px;
  font-weight: 100;
  float: left;
}
.step-history-header .updated {
  float: right;
  font-size: 14px;
  text-align: right;
}
.step-history-header .updated .updated-1 {
  display: block;
  font-weight: 100;
  margin: 0;
  line-height: 37.5px;
  color: #B3B3B3;
}
.step-history-header .updated .updated-2 {
  display: block;
  font-weight: 100;
  margin: 0;
  line-height: 0px;
}
