<!--
  Generated template for the TrendsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  			<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>


    <ion-title>iCOACH</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	
    <ion-img width="290" height="290" align-items="center" src="assets/imgs/policy.jpg"></ion-img>
      


</ion-content>


<style>

	li {
		color:black;
	}

</style>