<ion-menu [content]="content">

	<ion-header>

	  <ion-toolbar>
	   	
	   	<ion-title color="primary">Profile</ion-title>
	  
	  </ion-toolbar>

	</ion-header>
	
	<ion-content>
		<ion-list>
			<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
				<b>{{p.title}}</b>
			</button>
		</ion-list>
	</ion-content>

</ion-menu>	

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>